# App / WordPress
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=changeme
WORDPRESS_DB_HOST=mysql
WORDPRESS_DB_PORT=3306
WORDPRESS_INITIAL_VERSION=latest
C9SDK_PASSWORD=changeme

# MySQL
MYSQL_ROOT_PASSWORD=rootpass
